doctype html
html
  head
    title Registro
    link(rel="stylesheet", href="/css/styles.css")
  body
    .container
      h1 Registro

      if error
        p.error #{error}

      form(action="/register" method="POST")
        label(for="name") Nombre:
        input(type="text" id="name" name="name" placeholder="" required)

        label(for="lastname") Apellido:
        input(type="text" id="lastname" name="lastname" placeholder="" required)

        label(for="email") Correo Electrónico:
        input(type="email" id="email" name="email" placeholder="" required)

        label(for="password") Contraseña:
        input(type="password" id="password" name="password" placeholder="" required)

        label(for="confirm-password") Confirmar Contraseña:
        input(type="password" id="confirm-password" name="confirm-password" placeholder="" required)

        button(type="submit") Registrarse

      p
        | ¿Ya tienes una cuenta?
        a(href="/auth/login") Inicia sesión aquí

    footer
      //p © 2024 Tu Tienda Online. Todos los derechos reservados.
