extends ../layout

block content
  .container
    h1.mt-4 Resultado de la Transacci贸n
    if commitResponse.status === 'AUTHORIZED'
      h2.text-success Pago Exitoso
      p Tu pago ha sido procesado correctamente.
    else
      h2.text-danger Pago Fallido
      p Lo sentimos, ha ocurrido un error en el proceso de pago.
    
    h3 Detalles de la transacci贸n:
    ul
      li Orden de compra: #{commitResponse.buy_order}
      li Monto: $#{commitResponse.amount}
      li Estado: #{commitResponse.status}
      li C贸digo de autorizaci贸n: #{commitResponse.authorization_code}
    
    a.btn.btn-primary(href="/") Volver a la tienda
