//- Barra lateral para navegación dentro del panel de administración
ul.nav.flex-column
  li.nav-item
    a.nav-link(href='/admin/dashboard') Dashboard
  li.nav-item
    a.nav-link(href='/admin/productos') Gestionar Productos
  li.nav-item
    a.nav-link(href='/admin/categorias') Categorías
  li.nav-item
    a.nav-link(href='/admin/usuarios') Gestionar Usuarios
  li.nav-item
    a.nav-link(href='/admin/pedidos') Pedidos
