doctype html
html
  head
    title #{titulo}
    link(rel='stylesheet', href='/css/styles.css')
  body
    .container
      // Sección de bienvenida
      h1 Bienvenido a la tienda
      p La mejor tienda

      // Sección de usuarios
      .usuarios
        h2 Crea una cuenta de usuario
        a.btn.btn-primary(href="/usuarios") Crear Usuario

      // Sección de productos
      .productos
        h2 Ver productos
        a.btn.btn-primary(href="/productos") Ver Productos

              // Crear categorias
      .productos
        h2 Crear categoría
        a.btn.btn-primary(href="/categorias") Crear categoría

      // Otras secciones de la tienda (en el futuro puedes añadir más funcionalidades aquí)
      .destacados
        h2 Productos destacados

      // Puedes agregar más secciones según lo necesites

    // Enlaces de Login y Registro en una esquina superior
    .top-right
      a.btn(href="/auth/login") Login
      a.btn(href="/auth/registro") Registro
