extends layout

block content
  // Sección de bienvenida
  .jumbotron.text-center.mt-4
    h1.display-4 Bienvenido a la tienda
    p.lead La mejor tienda

  .row.mt-4
    // Sección de usuarios
    .col-md-4
      .card
        .card-body
          h2.card-title Usuarios
          p.card-text Crea una cuenta de usuario
          a.btn.btn-primary.btn-block(href="/usuarios") Crear Usuario

    // Sección de productos
    .col-md-4
      .card
        .card-body
          h2.card-title Productos
          p.card-text Gestiona el inventario
          a.btn.btn-primary.btn-block(href="/productos") Ver Productos

    // Crear categorias
    .col-md-4
      .card
        .card-body
          h2.card-title Categorías
          p.card-text Administra las categorías
          a.btn.btn-primary.btn-block(href="/categorias") Crear categoría

  // Otras secciones de la tienda
  .row.mt-4
    .col-12
      .card
        .card-body
          h2.card-title.text-center Productos destacados
          // Aquí puedes agregar el contenido de productos destacados
