doctype html
html
  head
    title #{titulo} | La tiendita
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    block styles
  body.d-flex.flex-column.min-vh-100
    .container.flex-fill
      // Botones de navegación en la esquina superior derecha
      .top-right
        if user
          a.btn.btn-info.ml-2(href="/carrito")
            i.fas.fa-shopping-cart
            span.ml-1 Carrito
          span.ml-2 Bienvenido, #{user.email}
          a.btn.btn-danger.ml-2(href="/auth/logout") Cerrar Sesión
        else
          a.btn.btn-primary(href="/auth/login") Iniciar Sesión
          a.btn.btn-success.ml-2(href="/auth/registro") Registro
      
      // Este bloque será reemplazado por el contenido específico de cada vista
      block content

    footer.mt-5
      p.text-center © 2024 La tiendita. Todos los derechos reservados.

    // Scripts base
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    
    // Bloque para scripts adicionales
    block scripts
