extends ../layouts/admin-layout

block content
    .container
      .row.mt-5
        .col-md-8.offset-md-2
          .card
            .card-body
              h1.card-title #{categoria.nombre}
              p.card-body #{categoria.descripcion}

              hr

              .row.mt-3
                .col
                  a.btn.btn-secondary(href="/categorias") Volver a la lista de categorias

              .row.mt-3
                .col-md-6
                  // Formulario para eliminar categoria
                  form(action=`/categorias/${categoria.id}` method="post")
                    button.btn.btn-danger(type="submit") Eliminar Categoria

                .col-md-6
                  // Formulario para actualizar categorias
                  a.btn.btn-primary(href=`/categorias/${categoria.id}/editar`) Actualizar Categoria

