extends ../layouts/admin-layout

block content
    .container
      h1.mt-5 Lista de Categorias
      
      // Tabla de productos con Bootstrap
      table.table.table-striped.mt-4
        thead
          tr
            th Nombre
            th Descripción
            th
        tbody
          each categoria in categorias
            tr
              td #{categoria.nombre}
              td #{categoria.descripcion}
              td 
                a.btn.btn-info(href=`/categorias/${categoria.id}`) Ver Detalles
              
      h2.mt-5 Crear una nueva categoria
      form(action="/categorias" method="POST" class="mt-3")
        .form-group
          label(for="nombre") Nombre:
          input.form-control(type="text" name="nombre" required)

        .form-group
          label(for="descripcion") Descripción:
          input.form-control(type="text" name="descripcion" required)
        
        button.btn.btn-primary(type="submit") Crear Categoria
